*{
  margin:auto;
}

header{
  text-align: center;
  align-items:center;
  padding: 25px;
}

.navigation{
height:70px;
width:100%;
word-spacing: 5px;
}

.navigation ul {
  position: fixed;
  top: 0px;
  left: -200px;
  word-spacing: 5px;
  background-color: rgb(255, 214, 249);
  width: 450px;
  height: 30px;
  overflow: hidden;
  margin: auto;
  left: 1400px;
  text-align: center;
}

.nav .navigation a{
text-decoration: none;
position: relative;
right: 20px;
padding:0px 20px;
}

#nav-div{
display: flex;
list-style: none;
display: inline-block;
text-align: center;
align-items: center;
justify-content: space-between;
}

li, a{
  list-style: none;
  display: inline;
  align-items: center;
  margin-top: 10px;
}

#intro h3{
text-align: left;
position: relative;
left: -550px;
margin-top: 30px;
}

h1{
  color: #2AD2FB;
  text-align: left;
  text-decoration: underline;
  font-family: monospace;
  font-size: 40px;
}

h2{
  color: #2AD2FB;
  text-align: center;
  font-size: 30px;
}

h3{
  color: #2AD2FB ;
  border-style: none;
  text-align:right;
  width:500px;
  height:100px;
}

h4{
  text-align: center;
  color: #2AD2FB;
  font-size: 30px;
}

body{
  background-color: white;
 
}

section{
 padding: 20px;
 width:50%
  
}

aside{
  width:50%;
  overflow:none;
}

div{
  padding: 20px;
  margin:auto;
  width:50%;

}

#exercises {
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin:50px;
  border-spacing: 70px;
  border-width: 5px;
  height: 520px;
  width: 800px;
  position: relative;
  right: -870px;
  top: -330px;
  font-size: larger;
}

#benefits{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin:50px;
  border-spacing: 70px;
  border-width: 5px;
  height: 210px;
  width:800px;
  position: relative;
  top: -300px;
  font-size: larger;
}


#subject{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin:50px;
  border-spacing: 70px;
  border-width: 5px;
  height: 100px;
  width:250px;
  font-size: larger;
}


#table-comparison{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin:50px;
  border-spacing: 70px;
  border-width: 5px;
  height: 420px;
  width:800px;
  position: relative;
  top: -400px;
  left: -10px;
  font-size: larger;
}
#reading{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin:50px;
  border-spacing: 70px;
  border-width: 5px;
  height: 210px;
  width:800px;
  position: relative;
  top: -360px;
  left: -5px;
  font-size: larger;
}
#frequency{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin:50px;
  border-spacing: 70px;
  border-width: 5px;
  height: 200px;
  width:800px;
  position: relative;
  left: 860px;
  top: -380px;
  font-size: larger;
}

#facts{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin:50px;
  border-spacing: 70px;
  border-width: 5px;
  height: 170px;
  width:530px;
  font-size: larger;
  position: relative;
  left: 865px;
}

#yoga-exercises{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin:50px;
  border-spacing: 70px;
  border-width: 5px;
  height: 200px;
  width:800px;
  padding: 20px;
  font-size: larger;
 
}

.exercise-example li{
  text-decoration:underline;
  color: #00C1FF;
}

th,
td
{
  padding: 15px;
  text-align: center;
  border: 5px;
  color: #00C1FF;
  position: relative;
  left: -60px;
  /*margin-left&right 0*/
}

tr:hover {
  background-color: #F9D1F7;
  }
  
  table tr,th {
    border: 1px solid;
    padding: 30px;
    margin: auto;
  }
  
li{
  list-style: none;
}
 img{
  position: relative;
  top: 520px;
  left: 135px;
 }

 #frequency-h{
  margin-bottom: 40px;
 }

 #book{
  margin-bottom: 15px;
 }

 #btn{
  background-color: #F9D1F7;
  color:#2AD2FB;
  position: relative;
  left: 900px;
  top: -700px;
  border-style: none;
  width: 150px;
  height: 70px;
  font-size:x-large;
 }

 #yoga-heading{
  margin-bottom: 25px;
 }

 #yoga-title{
  position: relative;
  left: -150px;
 }

 #yoga-facts{
  position: relative;
  bottom: 60px;
  left: -15px;
 }

 #ask-questions{
  margin-bottom: 50px;
 }

 #questions{
  font-size: larger;
  position: relative;
  left: 380px;
  margin-bottom: 50px;;
 }

 #subject{
  margin-top: 50px;
 }

 #questions-btn{
  background-color: #F9D1F7;
  color: #29c1e7;
  border-style: none;
  width: 70px;
  height: 20px;
  position: relative;
  top: -55px;
  left: -15px;
 }

 #image2{
  height: 450px;
  width:500px;
  position: relative;
  left: 1100px;
  top: -900px;
 }

 #image3{
  height: 350px;
  width: 500px;
  position: relative;
  top: -50px;
  left: 440px;
 }
