.navigation ul{
  position:sticky;
  word-spacing: 5px;
  text-align: center;
  background-color: rgb(255, 214, 249);
  overflow:hidden;
  display: block;
  float:right;
}

h1{
  color: #2AD2FB;
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
  font-size: 40px;
}

h2{
  color: #2AD2FB;
  text-align: center;
  font-size: 30px;
}

h3{
  color: #2AD2FB ;
}

h4{
  text-align: center;
  color: #2AD2FB;
  font-size: 30px;
}

body{
  background-color: white;
 
}

section{
 padding: 20px;
  
}

div{
  padding: 20px;
}

#exercises {
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin: 50px;
  border-spacing: 100px;
  border-width: 5px;
}

#benefits{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin: 50px;
  border-spacing: 100px;
  border-width: 5px;

}

#subject{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin: 50px;
  border-spacing: 100px;
  border-width: 5px;
}
  

#table-comparison{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin: 50px;
  border-spacing: 100px;
  border-width: 5px;
}
#reading{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin: 50px;
  border-spacing: 100px;
  border-width: 5px;
}
#frequency{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin: 50px;
  border-spacing: 100px;
  border-width: 5px;
}

#facts{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin: 50px;
  border-spacing: 100px;
  border-width: 5px;
}

#yoga-exercises{
  text-align: center;
  border: 2px;
  border-style: ridge;
  border-color: rgb(255, 214, 249);
  border-radius: round;
  margin: 50px;
  border-spacing: 100px;
  border-width: 5px;
}

.exercise-example li{
  text-decoration: underline;
  color: #00C1FF;
}

th,
td
{
  padding: 15px;
  text-align: center;
  border: 5px;
  color: #00C1FF;
  margin-left: auto;
  margin-right: auto;
  
}

tr:hover {
  background-color: #F9D1F7;
  }
  
  table tr,th {
    border: 1px solid;
    padding: 30px;
  }
  
li{
  list-style: none;
}
